.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  background: rgb(43, 41, 42);
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
   display: flex;
  justify-content: space-between; 
  
   
}
.logo{
  height: 70px;
  width: 70px;
  margin-right: 20px;
  vertical-align: middle;
}
.header-left{
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0 0 1rem 0;
  font-size: 3rem;
  font-weight: 600;
  font-style: poppins;
}

.nav {
  display: flex;
  gap: 5rem;
  margin-right: 2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: 2rem;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
}

.main {
  flex: 1;
  padding: 2rem;
  background-color: #f8fafc;
}

.footer {
  background-color: #1e293b;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}
